<nav class="navbar navbar-expand-lg navbar navbar-light" style="background-color: #3d88e3;;">
    <a class="navbar-brand" routerLink="/"><i class="mx-3 fa-solid ">M-AID</i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/"><h2>Home</h2> <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" routerLink="doctors/doctor/add"><h2>Add Doctor</h2></a>
        <a class="nav-item nav-link" routerLink="doctor/view"><h2>Search Doctor</h2></a>
        <a class="nav-item nav-link" routerLink="patients/patient/add"><h2>Admit Patient</h2></a>
        <a class="nav-item nav-link" routerLink="patient/view"><h2>Search Patient</h2></a>
      </div>
    </div>
  </nav>